.bar {
  align-items: center;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  width: 80px;
  z-index: 1;
}

.yellow {
  background: #ffff80;
  border-radius: 50%;
  box-shadow: 5px 5px 5px 50%;
  cursor: pointer;
  height: 40px;
  width: 40px;
}
.green {
  background: #80ff80;
  border-radius: 50%;
  box-shadow: 5px 5px 5px 50%;
  cursor: pointer;
  height: 40px;
  width: 40px;
}

.orange {
  background: #ffd880;
  border-radius: 50%;
  box-shadow: 5px 5px 5px 50%;
  cursor: pointer;
  height: 40px;
  width: 40px;
}

.red {
  background: #ff8080;
  border-radius: 50%;
  box-shadow: 5px 5px 5px 50%;
  cursor: pointer;
  height: 40px;
  width: 40px;
}

.blue {
  background: #80ffff;
  border-radius: 50%;
  box-shadow: 5px 5px 5px 50%;
  cursor: pointer;
  height: 40px;
  width: 40px;
}

.black {
  background: #606060;
  border-radius: 50%;
  box-shadow: 5px 5px 5px 50%;
  cursor: pointer;
  height: 40px;
  width: 40px;
}
