.wrapper {
  align-items: center;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-size: 50px;
  justify-items: center;
  text-align: center;
}

.image {
  border-radius: 30px;
  box-shadow: 5px 5px 5px #777;
  max-width: 1000px;
  width: 80%;
}

.formWrapper {
  margin: 0 0 45px;
}

.scrollBarLeft {
  left: 0;
  position: fixed;
  top: 0;
}

.scrollBarRight {
  position: fixed;
  right: 0;
  top: 0;
}

.dummy {
  height: 80px;
}
